.wrapper {
	width: 100%;
	overflow: hidden;
}
.photobanner {
	position: relative;
	height: 250px;
	margin-bottom: 30px;
	display: flex;
	width: 100%;
}

.photobanner img {
  margin: 55px 25px;
  box-shadow: 2px 2px 8px #8a8a8a;
}

.photobanner {
  animation: bannermove 5s linear infinite alternate-reverse;
}

@keyframes bannermove {
  from {
    left: -150px;
  }
  to {
    left: 10px;
  }
}